<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota Aparecida</title>
    <link rel="stylesheet" href="/css/Home.css">
</head>
<body>

<header id="header" class="opacity-up">
    <nav id="nav-bar">
      <div id="page-logo">
        <img src="/img/logo.png" alt="Rota Aparecida Logo" height="50px" width="50px" id="header-img">
        <h1 id="page-title">Rota Aparecida</h1>
      </div>
      <div id="nav-links">
        <a href="#features" class="nav-link"><p>Serviços</p></a>
        <hr>
        <a href="/Pagamento.html" class="nav-link"><p>Sobre</p></a>
        <hr>
		    <a href=".price" class="nav-link"><p>Reservas</p></a>
		 <hr>
        <a href="/Pagamento.html"  class="nav-link"><p>Pagamento</p></a>
		<hr>
		<a href="/Adm.html"  class="nav-link"><p>Admin</p></a>
      </div>
    </nav>
</header>

<div id="nav-margin"></div>

<main id="main">
    <section id="register">
      <form id="form" action="/Reserva.html" target="_blank">
        <h2>Tenha todas as suas jornadas e informações sempre à mão!</h2>
		<br>
		<br>
		<a href="/Acompanhar.html"><button type="button" id="submit" class="btn btn-secondary">Acompanhar Reserva</button></a>
      </form>
    </section>
	
	
	
	
	<section id="carousel">
	    <div id="drag-container">
	      <div id="spin-container">
	        <img src="/img/Captura de tela 2024-10-07 225049.png" alt="imagem1">
	        <img src="/img/Captura de tela 2024-10-29 221809.png" alt="imagem2">
	        <img src="/img/Captura de tela 2024-10-29 221828.png" alt="imagem3">
	        <img src="/img/Captura de tela 2024-10-29 221917.png" alt="imagem4">
	        <img src="/img/Captura de tela 2024-10-29 222100.png" alt="imagem5">
	        <img src="/img/Captura de tela 2024-10-29 221828.png" alt="imagem6">
	        </div>
			
	      <div id="ground"></div>
	    </div>
	  </section>

    <section id="features">
      <div class="feature">
        <img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Logos-Administrative-Tools-icon.png" height="100px" width="100px">
        <div>
          <h1>Transporte Seguro e Confortável</h1>
          <p>A Rota Aparecida oferece ônibus modernos e seguros para garantir uma viagem confortável para todos os passageiros.</p>
        </div>
      </div>
      <hr>
      <div class="feature">
        <img src="https://static.thenounproject.com/png/370184-200.png" height="100px" width="100px">
        <div>
          <h1>Suporte ao Cliente</h1>
          <p>Nossa equipe está pronta para auxiliar você em todas as etapas, desde a reserva até o retorno da viagem.</p>
        </div>
      </div>
      <hr>
      <div class="feature">
        <img src="https://icons.iconarchive.com/icons/iconoir-team/iconoir/256/alarm-icon.png" height="100px" width="100px">
        <div>
          <h1>Flexibilidade de Horários</h1>
          <p>Oferecemos opções de horários para melhor atender às suas necessidades e garantir sua visita a Aparecida com tranquilidade.</p>
        </div>
      </div>
    </section>


    <section id="prices">
      <div class="price">
        <h3>Onibus A</h3>
        <h1>R$150</h1>
        <ul>
          <li>Coord João</li>
          <li>14/11/2024</li>
          <li>06:00</li>
		  <li>Wi-Fi</li>
          <li>Serviço de bordo</li>
        </ul>
		<a href="/Reserva.html?onibus=A"><button>Reservar</button></a>
      </div>
      <div class="price">
        <h3>Onibus B</h3>
        <h1>R$150</h1>
        <ul>
          <li>Coord Julia</li>
          <li>30/11/2024</li>
		  <li>06:00</li>
          <li>Wi-Fi</li>
          <li>Serviço de bordo</li>
        </ul>
		<a href="/Reservab.html"><button>Reservar</button></a>
      </div>
      <div class="price">
        <h3>Onibus C</h3>
        <h1>R$150</h1>
        <ul>
          <li>Coord Fernando</li>
          <li>25/12/2024</li>
		  <li>06:00</li>
          <li>Wi-Fi</li>
          <li>Serviço de bordo</li>
        </ul>
        <a href="/Reservac.html"><button>Reservar</button></a>
      </div>
    </section>

    <div id="go-up" class="opacity-down" title="Voltar ao topo">
      <img src="https://icons.iconarchive.com/icons/gartoon-team/gartoon-action/256/arrow-up-icon.png" height="30" width="30" alt="Voltar ao topo">
    </div>
</main>

<footer>
    <div id="footer-links">
      <a href="#"><b><p>Política de Privacidade</p></b></a>
      <hr>
      <a href="#"><b><p>Contato</p></b></a>
      <hr>
      <a href="#"><b><p>Termos de Uso</p></b></a>
    </div>
    <div id="footer-logos">
      <img src="/img/LOGO.png" alt="Rota Aparecida Logo" height="50px" width="50px">
      <hr>
      
    </div>
    <p>&copy; 2024, Rota Aparecida</p>
    <p>Desenvolvido por <a target="_blank" href="">Fatec Itaquera 3º Semestre 2024 ®</a></p>
</footer>

<script src="/js/Home.js"></script>
</body>
</html>