<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Adm.css">
    <title>Administração</title>
</head>

<body>
	
	<div class="alert alert-warning" id="alertaSucesso" role="alert">
	  Pagamento removida com Sucesso!
	</div>
	
    <div class="d-flex">
      
        <nav id="sidebar"  style="width: 250px;">
            <div id="user">
                <h3 class="text-center mb-5">Admin</h3>
            </div>
			
			
            <ul id="side_items" class="list-unstyled">
				<li class="side-item mb-3">
				                    <a href="/Adm.html" class="d-block text-dark p-2 rounded text-decoration-none">Coordenadores</a>
				                </li>
				                <li class="side-item mb-3">
				                    <a href="/AdminPassageiros.html" class="d-block text-dark p-2 rounded text-decoration-none">Passageiros</a>
				                </li>
				                <li class="side-item mb-3">
				                    <a href="/AdminOnibus.html" class="d-block text-dark p-2 rounded text-decoration-none">Ônibus</a>
				                </li>
								
								<li class="side-item mb-3">
								        <a href="/AdminReservas.html" class="d-block text-dark p-2 rounded text-decoration-none">Gerenciador Reservas</a>
								  </li>
								
				                <li class="side-item mb-3">
				                    <a href="/AdminPagamento.html" class="d-block text-dark p-2 rounded text-decoration-none">Pagamentos</a>
				                </li>
								<li class="side-item mb-3">
								       <a href="/Home.html" class="d-block text-dark p-2 rounded text-decoration-none">Voltar</a>
								 </li>
            </ul>
        </nav>

        
        <div class="main-content p-4" style="margin-left: 250px; width: 100%;">
            <h2 class="mb-4">Gerencie Todos Pagamentos</h2>
            <div class="row g-3" id="geral-pagamentos">
                
            </div>
			
        </div>
    </div>
	
	
	

	<div id="edit-modal" class="modal">
	    <div class="modal-content">
			<h3>Status do Pagamento</h3>
			 <label for="edit-status">Novo Status:</label>
			<select id="edit-status">
			           <option value="Pago">PAGO</option>
			           <option value="Pendente">PENDENTE</option>
			           <option value="Cancelado">CANCELADO</option>
			       </select>
	        <button id="save-edit">Salvar</button>
	        <button id="cancel-edit">Cancelar</button>
	    </div>
	</div>

	
	

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/PagamentoAdmin.js"></script>
</body>

</html>