<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesCadastro.css">

    </head>
<body>
    <div class="container">
        <h2 class="text-center mb-4"> Cadastro</h2>

        <!-- Formulário de cadastro -->
        <form id="cadastroForm">
            <!-- Nome -->
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" required>
            </div>

            <!-- Documento -->
            <div class="form-group">
                <label for="documento">Documento</label>
                <input type="text" class="form-control" id="documento" placeholder="Digite seu documento" required>
            </div>

            <!-- Tipo de usuário -->
            <div class="form-group">
                <label for="tipo">Tipo de Usuário</label>
                <select class="form-control" id="tipo" required>
                    <option value="">Selecione...</option>
                    <option value="passageiro">Passageiro</option>
                    <option value="coordenador">Coordenador</option>
                    <option value="motorista">Motorista</option>
                </select>
            </div>

            <!-- Informações adicionais para Passageiros -->
            <div id="acompanhantes" class="form-group">
                <label for="quantidadeAcompanhantes">Quantidade de Acompanhantes</label>
                <input type="number" class="form-control" name="quantidadeAcompanhantes" id="quantidadeAcompanhantes" placeholder="Digite a quantidade de acompanhantes">
            </div>

            <!-- Informações adicionais para Motoristas -->
            <div id="motorista-info">
                <div class="form-group">
                    <label for="numeroHabilitacao">Número da Habilitação</label>
                    <input type="text" class="form-control" name="numeroHabilitacao" id="numeroHabilitacao" placeholder="Digite o número da habilitação">
                </div>
                <div class="form-group">
                    <label for="certificacoes">Certificações</label>
                    <input type="text" class="form-control" name="certificacoes" id="certificacoes" placeholder="Digite as certificações">
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email" required>
            </div>

             <!-- Senha -->
             <div class="form-group">
                <label for="senha">Senha</label>
                <input type="senha" class="form-control" name="password" id="email" placeholder="Digite sua senha" required>
            </div>

            <!-- Telefone -->
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Digite seu telefone" required>
            </div>

            <!-- Botão de envio -->
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>

    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="../static/js/ScriptCadastro.js"></script>

</body>
</html>
